<launch>
  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen">
    <param name="video_device" value="/dev/video0"/>
    <param name="image_width" value="640"/>
    <param name="image_height" value="480"/>
    <param name="pixel_format" value="mjpeg"/>
    <param name="camera_frame_id" value="camera_frame"/>
    <param name="framerate" value="30"/>
    
    <!-- Thêm dòng này để ROS load file hiệu chỉnh -->
    <param name="camera_info_url" value="file:///home/uavai/.ros/camera_info/head_camera.yaml"/>
  </node>
</launch>
